{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
<style>
  /* 여백 추가 */
  .title-section {
    margin-top: 20px;
  }
</style>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <title>Appointment Request</title>
  </head>

  <body>
    <div class="container my-3">
      {% include 'doctor/tab.html' %}
      <div class="title-section">
        <h1 class="fw-bold">진료 예약하기</h1>
      </div>
      <form action="{% url 'appointment_request' %}" method="post">
        <label for="patient_name">환자 이름:</label>
        <input type="text" name="patient_name" id="patient_name" required="required"/><br/><br/>
        <label for="doctor_name">의사 이름:</label>
        <input type="text" name="doctor_name" id="doctor_name" required="required"/><br/><br/>
        <label for="requested_time">진료 희망 일자:</label>
        <input type="datetime-local" name="requested_time" id="requested_time" required="required"/><br/><br/>
        <button type="submit" class="btn btn-primary">진료예약</button>
      </form>
    </div>
  </body>

</html>
